<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img class="logoImage" src="/static/images/logo.png" alt="Logo" href="/login">
            </div>
            <a href="/login">Login</a>
            <a href="/create_account">Create Account</a>
            <a href="/home_page">Home</a>
            <a href="/logout">Logout</a>
            <a href="/delete_all_users">Delete Users</a> <!--REMOVE THIS WHEN DONE WITH TESTING-->
        </nav>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}