{% include('./partials/header.html') %}
<title> Image-Selection</title>
<main>
    <h1 class="imageSelectText">Image Selection</h1>
    <form action="process_form.py" method="post">
        <table class="image_grid">
            <tr>
                <th><img src="{{ images[0] }}" id="00" onclick="toggleSelection('00')"></th>
                <th><img src="{{ images[1] }}" id="01" onclick="toggleSelection('01')"></th>
                <th><img src="{{ images[2] }}" id="02" onclick="toggleSelection('02')"></th>
                <th><img src="{{ images[3] }}" id="03" onclick="toggleSelection('03')"></th>
                <th><img src="{{ images[4] }}" id="04" onclick="toggleSelection('04')"></th>
            </tr>
            <tr>
                <th><img src="{{ images[5] }}" id="10" onclick="toggleSelection('10')"></th>
                <th><img src="{{ images[6] }}" id="11" onclick="toggleSelection('11')"></th>
                <th><img src="{{ images[7] }}" id="12" onclick="toggleSelection('12')"></th>
                <th><img src="{{ images[8] }}" id="13" onclick="toggleSelection('13')"></th>
                <th><img src="{{ images[9] }}" id="14" onclick="toggleSelection('14')"></th>
            </tr>
            <tr>
                <th><img src="{{ images[10] }}" id="20" onclick="toggleSelection('20')"></th>
                <th><img src="{{ images[11] }}" id="21" onclick="toggleSelection('21')"></th>
                <th><img src="{{ images[12] }}" id="22" onclick="toggleSelection('22')"></th>
                <th><img src="{{ images[13] }}" id="23" onclick="toggleSelection('23')"></th>
                <th><img src="{{ images[14] }}" id="24" onclick="toggleSelection('24')"></th>
            </tr>
            <tr>
                <th><img src="{{ images[15] }}" id="30" onclick="toggleSelection('30')"></th>
                <th><img src="{{ images[16] }}" id="31" onclick="toggleSelection('31')"></th>
                <th><img src="{{ images[17] }}" id="32" onclick="toggleSelection('32')"></th>
                <th><img src="{{ images[18] }}" id="33" onclick="toggleSelection('33')"></th>
                <th><img src="{{ images[19] }}" id="34" onclick="toggleSelection('34')"></th>
            </tr>
        </table>
        <input type="hidden" name="selected_image1" id="selected_image1">
        <input type="hidden" name="selected_image2" id="selected_image2">
        <input class="imageSelectButton" type="submit" value="Submit">
    </form>
    <script src="/static/js/script.js"></script>
</main>
{% include('./partials/footer.html') %}