<html>
<body>
    <main>
        <title>
            Login
        </title>
        <h2>Login</h2>
        <div>
            <label for="username"><b>Username/Email</b></label>
         </div>
         <div>
            <form method="POST">
            <input type="text" placeholder="Enter Username" name="username" required>
           </div>
	      <div>
            <button type="submit">Start Authetication</button>
        </form>
            </div>
			<div>
           <a href = "/create_account"><button type="submit"></button>Create account</button></a> 
        </div>
    </main>
</body>
</html>