{% include('./partials/header.html') %}
    <main class="loginMain">
        <title> Login </title>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>Login</h1>
        <label for="username"><b>Username/Email</b></label>
        <form method="POST">
            <input class="loginForm" type="text" placeholder="Enter Username" name="username" required> <br><br>
            <div class="loginButtonDiv">
                <button class="loginButtons" type="submit">Start Authetication</button>
                <button class="loginButtons" onclick="location.href='/create_account'" type="button">Create Account</button>
            </div>
        </form>
    </main>
{% include('./partials/footer.html') %} 